/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
}

/* Navbar Styles */
nav {
  font-weight: bold;
  background-color: black;
  overflow: hidden;
}

nav ul {
  border: white;
  list-style-type: none;
  margin-right: 1ppx;
  padding: 10px;
  display: flex;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 18px;
}

nav li a:hover {
  background-color: gray;
  color: white;
}

/* Form Styles */
.form-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff2d7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    resize: vertical;
}

.form-group button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Footer Styles */
footer {
  font-weight: bold;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer p a {
  color: pink;
  text-decoration: none;
}